body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.App {
    text-align: center;
}

.homepage {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.create-post-btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.create-post-btn:hover {
    background-color: #0056b3;
}

.post-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.post {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.post-page {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.edit-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.edit-btn:hover {
    background-color: #218838;
}

.create-edit-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.create-edit-form input, 
.create-edit-form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.create-edit-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-edit-form button:hover {
    background-color: #0056b3;
}

.post-management {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.post-management button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.manage-post-btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #06f54d;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.sub-heading{
    display: flex;
    justify-content: space-evenly;

}

.post-management button:hover {
    background-color: #c82333;
}
